body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page .title {
  font-size: 4rem;
  margin: 1rem 0;
  text-align: center;
  color: white;
}

.bingo-board {
  display: grid;
  grid-template-columns: repeat(5, minmax(min-content, 8rem));
  grid-template-rows: repeat(5, 8rem);
  grid-gap: 0.2rem;
  margin: 0 auto;
  width: max-content;
}

.item-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 0.1rem solid grey;
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.is-checked {
  text-decoration: line-through;
}

.is-bingo {
  border: 0.5rem solid #5dbb63;
}

.center-tile {
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.center-tile p {
  margin: 0 auto;
}

.bingo-count {
  text-align: center;
}

@media screen and (max-width: 700px) {
  .is-checked,
  .item-tile,
  .center-tile {
    font-size: 10px;
  }

  .bingo-board {
    grid-template-columns: repeat(5, minmax(min-content, 70px));
    grid-template-rows: repeat(5, 70px);
  }
}
